*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.00)),url(background.png);
    background-size: cover;
	background-position: right top;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.banner1{
    width: 100%;
    height: 170%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.00)),url(background.png);
    background-size: cover;
	background-position: right top;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.mobile h1{
    
}
.navbar{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar img{
    width:200px;
    height:75px;
    cursor: pointer;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
 
    position: relative;
}
.navbar ul li a{
    color: #fff;
    text-decoration: none; 
    font-size: 20px;
}

.navbar ul li ::after{
    content: '';
    width: 0%;
    height: 4px;
    background:#9050c6;
    display: block;
    margin:auto;
    transition: 0.5s;

    
}
.navbar ul li :hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 150px;
    
    text-align:center;
    color: #1A1C67;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.content1{
    width: 100%;
    position: absolute;
    top: 70px;
    
    text-align:center;
    color: #1A1C67;
}
.content2{
    width: 100%;
    position: absolute;
    top: 570px;
    
    text-align:center;
    color: #1A1C67;
}
.content1 h1{
    font-size: 70px;
    margin-top: 80px;
}

button{
    width: 300px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #2B4670;
    background: transparent;
    color: #555;
    cursor: pointer;
}
button::after{
    width: 300px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #2B4670;
    background: transparent;
    color: #555;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    
}
button:hover span{
    width: 100%;
}
button:hover{
    border: 2px solid #2B4670;
    background: #2B4670;
    color: #fff;
    transition: 0.5s;
}



.textbox{
    
    width:40%;
    margin-top: 10%;
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    object-position: center;
    text-decoration: none;
    flex-direction: column;
}
.textbox a {
    color:rgba(80, 133, 181);
    text-decoration: none;

}

.textbox p {
 font-size: 20px;
}

.textbox1{
    
    width:60%;
    height: auto;
    display: inline-block;

    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;

    padding: 20px 12px;
    box-sizing: border-box;

    position: absolute;
    top: 310px;
    left:auto;
    right: 300px;
    text-decoration: none;
    flex-direction: column;
}

.textbox1 p {
 font-size: 20px;
}

.textbox2{
    
    width:60%;
    height: auto;
    display: inline-block;

    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;

    padding: 10px 12px;
    box-sizing: border-box;

    position: absolute;
    top: 710px;
    left:auto;
    right: 300px;
    text-decoration: none;
    flex-direction: column;
}

.textbox2 ul li {
 list-style-type: none;
 display: inline-block;
}
.course1 ul li img{
    height: 120px;
    padding:20px;
    
}

}


.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #828282;
}

input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #828282;
}

input[type=submit] {
    background-color: #545557;
    padding: 15px 0;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

input[type=submit]:hover {
    background: #FFF;
    color: #1b1c1e;
}

input,
textarea {
    color: white;
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 1px solid #828282;
}

a {
    color: #828282;
    font-style: italic;
}

a:hover {
    color: #fff;
}

.course1{
    flex-basis: 32%;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

    
}






.footer {
    background-color: #2B4670;
    display: inline-block;
    height:50px;
    width:100%;
    text-align: center;
    padding: 0;
    color: white;

}

.footer h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.socials img{
    height: 50px;
    margin:40px;
    cursor: pointer;
    margin-left: 20px;
    position: absolute;
    bottom: 250px;
}

.course{
width:80%;
margin: auto;
text-align: center;
padding-top: 50px;
padding-bottom: 70px;
color: #555;
font-size: 20px;
}
.course p {
    width: 60%;
}
@media only screen {
  .mobile h1 {
    font-size: 80px;
  }
    .mobile p{
        font-size: 50px;
    }
    .mobile button{
        width:400px;
        font-size: 40px;
    }
    .mobile textbox{
        width:60%;
    }

}



.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #828282;
}

input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #828282;
}

input[type=submit] {
    background-color: #545557;
    padding: 15px 0;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

input[type=submit]:hover {
    background: #FFF;
    color: #1b1c1e;
}

input,
textarea {
    color: white;
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 1px solid #828282;
}

a {
    color: #828282;
    font-style: italic;
}

a:hover {
    color: #fff;
}
