*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,15),rgba(0,0,0,0.05)),url(background.jpg);
    background-size: cover;
    background-position: 66% 15%;
	position: relative;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.banner1{
    width: 100%;
    height: 150%;
    background-image: linear-gradient(rgba(0,0,0,15),rgba(0,0,0,0.05)),url(background.jpg);
    background-size: cover;
    background-position: 66% 15%;
	position: relative;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.mobile h1{
    
}
.navbar{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar img{
    width:200px;
    height:75px;
    cursor: pointer;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
 
    position: relative;
}
.navbar ul li a{
    color: #fff;
    text-decoration: none; 
    font-size: 20px;
}
.navbar ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#009688;
    display: block;
    margin:auto;
    transition: 0.5s;
    
}
.navbar ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#9050c6;
    display: block;
    margin:auto;
    transition: 0.5s;
    
}
.navbar ul li :hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 25%;
    transform: trans
        lateY(-50%);
    text-align:center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
button::after{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}



.textbox{
    
    width:40%;
    margin-top: 10%;
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    object-position: center;
    text-decoration: none;
    flex-direction: column;
}
.textbox a {
    color:rgba(80, 133, 181);
    text-decoration: none;

}

.textbox p {
 font-size: 20px;
}

.textbox1{
    
    width:70%;
    height: auto;
    display: inline-block;
    margin-top: 26%;
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    object-position: center;
    text-decoration: none;
    flex-direction: column;
}

.textbox1 p {
 font-size: 20px;
}



.section-contact {
	min-height: 100vh;
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: linear-gradient(175deg, #EEE 50%, #FF9FDB 50%, #9B75D7);
}
	.container {
		max-width: 1280px;
		margin: 0 auto;
		padding-left: 32px;
		padding-right: 32px;

		@media (min-width: 768px) {
			padding-left: 64px;
			padding-right: 64px;
		}

		@media (min-width: 1024px) {
			padding-left: 128px;
			padding-right: 128px;
		}
}
		.container h1 {
			color: #666;
			font-size: 36px;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 16px;
		}

		.container p {
			color: #888;
			font-size: 18px;
			line-height: 1.5;
			margin-bottom: 32px;
		}

		form {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 16px;
			background-color: #FFF;
			padding: 32px;
			border-radius: 16px;
			box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);

			@media (min-width: 768px) {
				grid-template-columns: repeat(2, 1fr);
			}
}
			.form-group {

				&.full {
					grid-column: 1 / -1;
				}
}

				.form-group label {
					display: block;
					margin-bottom: 5px;
					color: #888;
					font-size: 14px;
				}

				.form-element {
					appearance: none;
					outline: none;
					border: none;

					display: block;
					width: 100%;

					border-radius: 8px;
					padding: 12px 16px;
					background-color: #F3F3F3;
					transition: 0.4s;

					&:focus {
						box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
						background-color: #FFF;
					}
				}

				textarea {
					resize: none;
					min-height: 100px;
				}
			}

			.submit-group {
				grid-column: 1 / -1;
				text-align: right;
}
				input[type="submit"] {
					appearance: none;
					border: none;
					outline: none;
					background: none;

					padding: 12px 16px;
					background-color: #FF9FDB;
					border-radius: 8px;
					color: #FFF;
					cursor: pointer;
					transition: 0.4s;

					&:hover {
						background-color: #9B75D7;
					}
				}
			}
		}
	











.footer {
    background-color: rgba(69,91,128);
    width:100%;
    text-align: center;
    padding: 0;
    color: white;

}

.footer h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer .social-icon {
	display: flex;
	margin-bottom: 30px;
	height: 10px;
	width: 10px;
	margin: 0 5px;
}
.socials img{
    height: 30px;
    margin:20px;
    cursor: pointer;
}


@media only screen {
  .mobile h1 {
    font-size: 80px;
  }
    .mobile p{
        font-size: 50px;
    }
    .mobile button{
        width:400px;
        font-size: 40px;
    }
    .mobile textbox{
        width:60%;
    }

}
